.list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  row-gap: 10px;
  align-items: center;
}

.item {
  display: flex;
  width: 500px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 12px;
  align-items: center;
}

.position {
  width: 120px;
}

.user {
  width: 190px;
}

.achivements {
  width: 146px;
  display: flex;
  align-items: center;
}

.achivement {
  width: 25px;
  padding-left: 10px;
}

.superMode {
  padding-left: 10px;
  width: 18px;
}

.time {
  width: 44px;
  text-align: center;
}
