.list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  row-gap: 10px;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  width: 500px;
  align-items: center;
  justify-content: space-between;
  background: beige;
  padding: 2px 20px;
  border-radius: 12px;
}
